/**
 * TodoTextInput Style
 */

@import '../variables.scss';

.root{
	font-size: 1rem;
	border: none;
	display: block;
	width: 100%;
	padding: 0.5rem;
	top : 0rem;
	right : 0rem;
	bottom : 0rem;
	left : 0rem;
	padding-left: 2.75rem;
}